.cast {
  background-color: #EEF0F2;
  color: var(--themeColor1);
  position: relative;
  width: 100%;
  padding: 200px calc( 150px * var( --sw )) 200px;
  overflow-x: hidden;
}

.cast__headline {
  display: block;
  position: relative;
  margin-bottom: 80px;
}
.cast__headline__title {
  width: 100%;
  font-size: var(--fontScaleL6);
}
.cast__headline__title::after {
    content: '';
    background-color: var(--themeColor1);
    display: block;
    position: absolute;
    top: 45px;
    left: calc( 145px * var( --sw ));
    width: calc( var( --vw ) - calc( 180px * var( --sw )));
    height: 1px;
}


.cast__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  row-gap: 46px;
  width: max-content;
}

.cast__item__role {
  font-size: 11px;
  letter-spacing: 0.03em;
  line-height: 18px;
  padding-bottom: 2px;
}

.cast__item__name {
  display: flex;
  align-items: last baseline;
  flex-wrap: wrap;
  font-size: var(--fontScaleL1);
  letter-spacing: 0.03em;
}

.addMember {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
}
.addMember > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  opacity: 0.9;
  transition: all 0.4s ease-in-out 0s;
}

.cast__item__name__cursorhover > a:hover {
  color: var(--themeColor1);
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  border-bottom: 0.5px solid var(--themeColor1);
}

.addMember:hover {
  background-color: var(--themeColor1);
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  & svg {
    color: var(--mainThemeColor);
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  }
}


@media (max-width: 939px) {
  .cast {
    padding: 121px 30px 53px;
  }
  .cast__headline {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 32px;
  }
  .cast__headline__title::after {
    top: 50%;
    left: 140px;
    width: var(--vw);
  }

  .cast__headline__title {
    width: 100%;
    height: 100%;
    font-size: var(--fontScaleL6);
  }
  .cast__list {
    grid-template-columns: repeat(2, 50%);
    row-gap: 27px;
    width: 100%;
  }

  .cast__item__role {
    line-height: 12px;
    padding-bottom: 3px;
  }

  .cast__item__name {
    font-size: 15px;
    line-height: 18px;
  }
}